
/* #mz {
    background-color:red!important;
}
div span {
    background-color: blue;
} 
em, 
strong, 
span{
    background-color: red;
} */
div {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    border:1px solid black;
    /* 透明色：transparent */
    color:#000000;
    /* 1.土鳖式（纯英文单词）
    2.颜色代码#
    r
    g
    b
    00-ff
    3.颜色函数 0~255
    rgb(255,255,255)*/
    /* text-align: center;（文本对齐方式）
    line-height:300px;行高 */
    /* width:300px;
    当单行行高与标签高度相等时文本垂直居中 */
    /* text-indent: 2em;首行缩进2个单位
    text-decoration:line-through;相当于del标签 */
    /* cursor: pointer;改变鼠标的光标图案 */

    
}
伪类选择器
a:hover {
    background-color: orange;
    font-weight: bold;
    border-radius: 10px;
}